[submodule "ip/fabulous_fabric"]
	path = ip/fabulous_fabric
	url = ../fabulous_fabric.git
[submodule "ip/sky130_ef_ip__simple_por"]
	path = ip/sky130_ef_ip__simple_por
	url = ../../fossi-foundation/sky130_ef_ip__simple_por.git
[submodule "ip/sky130_ef_ip__rdac3v_8bit"]
	path = ip/sky130_ef_ip__rdac3v_8bit
	url = ../../fossi-foundation/sky130_ef_ip__rdac3v_8bit.git
[submodule "ip/sky130_ef_ip__adc3v_12bit"]
	path = ip/sky130_ef_ip__adc3v_12bit
	url = ../../fossi-foundation/sky130_ef_ip__adc3v_12bit.git
[submodule "ip/panamax"]
	path = ip/panamax
	url = ../../fossi-foundation/panamax.git
